# C++ objects and libs
*.slo
*.lo
*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe

# Qt specific
.qmake.stash
Makefile*
moc_*.cpp
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*.pro.user
*.pro.user.*
*.autosave

# Qt Creator
*.cxx
*.stash
.qtcreator/

# Qt Directories
debug/
release/
build/
temp_build/

# macOS
.DS_Store
*.app/
*.dmg

# Backups and merges
*.bak
*.orig
*~

# IDEs
.idea/
.vscode/
*.swp